# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  name: "DIVA Pool"

jobs:
  - job: 
    displayName: "Install terraform"
    steps:
      - task: TerraformInstaller@1
        inputs:
          terraformVersion: '1.6.6'
      - script: terraform version
        displayName: "checking the terraform version"