pool:
  name: "DIVA Pool"

variables:
  - group: aws-prod-creds

steps:
  - checkout: self
  - bash: |
      terraform init
      terraform validate
      terraform plan -out=tfplan
    displayName: "Terraform Plan"
  - bash: |
      terraform apply -auto-approve tfplan
    displayName: "Terraform Approve"
  - bash: |
      terraform destroy -auto-approve
    displayName: "Terraform destroy"